* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  outline: 0;
  border: none;
  background-color: transparent;
}

a,
button {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  font-weight: 400;
}
